{% extends "layout.html" %}


{% block body %}
<br><br><br>

<h3>ABOUT NERD GEEK LAB
</h3>
<hr>

<p>
        At the center of the thought is the conviction that, if oversaw well, can have a beneficial outcome to the understudy, to the business, and to the general public on the loose. Henceforth, the impromptu culture encompassing entry level positions in India ought to and would change. Nerd&geek expects to be the driver of this change. For million or more understudies attempting to get an important entry level position each year, Nerd&geek is a companion, a tutor, a loving senior, and a boon. For a large number of associations that utilization Nerd&geek to employ assistants, we are a lovely amazement, a benchmark of the world gauges in client service. For outcasts, a shot guest, media, financial specialists, companions and colleagues, Nerd&geek is the following huge thing leaving India's start up stable. In any case, inside, we are a bundle of business people attempting to take care of a difficult issue the close disappointment of India's instruction framework.

In any case, does entry level position is everything an understudy nowadays is searching for or does the internsahip is the main thing which contributes in one's profession objectives. Well! No it's not, there are an entire cluster of different things that ought to be laid under examination.

Nerd&geek is a main web based learning stage that enables anybody to learn business, programming, innovation and imaginative aptitudes to accomplish individual and expert objectives. Through individual, corporate, scholarly and government memberships, individuals approach the Nerd&geek video library of connecting with, top-quality courses instructed by perceived industry specialists.

We trust everybody ought to have the chance to make advance through innovation and build up the aptitudes of tomorrow. With evaluations, learning ways and courses wrote by industry specialists, our stage enables organizations and people to close aptitudes holes in basic regions, enhance quicker and convey on key goals.
</p>
{% endblock body %}
