{% extends "layout.html" %}

{% block body %}
<h3>Create Blog</h3>
<hr>
<p>
    Hello, <small>{{request.user.username}}</small>
Click here to create Blog</p>
<hr>
<a class = "btn btn-success" href = "{% url 'article:addArticle' %}">Create </a>
<hr>

        {% if messages %}
        <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
{% if articles %}
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Topic</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>

            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>

            <td><a href="{% url 'article:update' article.id %}" class = "btn btn-primary">Update</a></td>
            <td><a href="{% url 'article:delete' article.id %}" class = "btn btn-danger">Delete</a> </td>
              
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
{% else %}

<div class = "alert alert-danger">
    Nerd-Geek lab

</div>
{% endif %}



{% endblock body %}

