
{%  extends "layout.html" %}
{% block body %}
<br>
<br>
<div style="font-family: sans-serif;">
<p><strong style="font-weight: bold;color: black;">Article id :</strong>{{id}}</p>

<p><strong style="font-weight: bold;color: black;">Author  :</strong>{{author}}</p>
<p><strong style="font-weight: bold;color: black;">Post Date :</strong>{{created_date}}</p>
<p><strong style="font-weight: bold;color: black;">Article Image</strong></p>
<img style="width: 800px;height: 600px;" src="{{article_image}}">
</div>
{% endblock body %}