{% extends "layout.html" %}


<!-- ------------------------------------CSSS-------------------------------------------------- -->


<!-- -----------------------------------------------------Body------------------------------------ -->
{% block body %}

<div class="row">
  <div class="col-sm-2">
    <div class="sidenav" >
    <br>
    <br>

    <button class="open-button" >Personal Details.</button><br>
<button class="open-button" >Academic Details.</button><br>
  <button class="open-button">Experience/Skills.</button>
</div>
  </div>


  <div class="col-sm-1"></div>



<div class="col-sm-3">
<form method="POST" class="post-form" enctype="multipart/form-data">  
          {% csrf_token %}  
    {% if messages %}
      <ul>
      {% for message in messages %}
      <li style="color: darkred;">{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}


        <label>Upload Resume Doc</label>
        <input type="file" id="resume" name="resume"> 
        <button type="submit" class="btn">Save</button>  
      </form> 

</div>
<div class="col-sm-6"></div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            alert('The file "' + fileName +  '" has been selected.');
            return fileName
        });
    });
</script>
<!-- ------------------------------------------------------------------------------------- -->




{% endblock body %}





